<div class="col s8">
  <!-- Grey navigation panel -->
  <h4>{{name}}</h4>
  <span class="resource">{{resource}}</span>
</div>
<div class="col s4 ">
  <button class="create waves-effect waves-light btn" type="button"><i class="material-icons left">chat</i>Create Chat</button>
</div>
